html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
      margin: 0px;
}

.login-form{
      text-align: center;
}

.text-center{
      text-align: center;
}

.register-form{
  text-align: center;
}
